<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>656510786731-pgo7atakpsrmrdjt4gbnmndjvolsavsq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.656510786731-pgo7atakpsrmrdjt4gbnmndjvolsavsq</string>
	<key>API_KEY</key>
	<string>AIzaSyAZTi8waK8bRT-V7fGLoB8z5uTcFm7xVTs</string>
	<key>GCM_SENDER_ID</key>
	<string>656510786731</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vednovak.flutterWarrantyTracker</string>
	<key>PROJECT_ID</key>
	<string>warranty-tracker-3816c</string>
	<key>STORAGE_BUCKET</key>
	<string>warranty-tracker-3816c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:656510786731:ios:12498bab0c5f374fc86bee</string>
</dict>
</plist>